.App {
  display: grid;
  grid-template-rows: 1fr 6fr;
  text-align: center;
  height: 100vh;
}

.container {
  /* height: 70%; */
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  font-size: 0.85rem;
}

.container--top {
  justify-content: start;
}

/* Headings and Text */
.title {
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
}

.title--big {
  font-size: 1.75rem;
}

.title--medium {
  font-size: 1.5rem;
}

.title--small {
  font-size: 1.25rem;
}

.text--small {
  font-size: 0.75rem;
}

.text__tip {
  padding: 0.5rem;
  font-style: italic;
}

p {
  margin: 0;
  padding: 0;
}

/* Forms */
.form {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  /* background: #eee; */
}

.form--narrow {
  max-width: 30rem;
  width: 50%;
}

.form--wide {
  max-width: 35rem;
  width: 80%;
}

.form--top {
  /* align-self: start;
  padding: 3rem 0; */
}

/* .form__content {
  border: 1px solid lightblue;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem darkslategrey;
  padding: 0.5rem;
  width: 50vw;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
} */

.form-group--wide {
  width: 90%;
}

.form-group--inline {
  display: flex;
}

.input--error {
  border: 1px solid #EB0000;
}

input:invalid {
  box-shadow: none;
}

.error {
  font-size: 0.75rem;
  color: #EB0000;
}

/* Buttons */
.button--ml {
  margin: auto auto auto 0.25rem;
}

/* Media Queries */
@media all and (max-width: 640px) {
  .form-input, .form-button {
    font-size: 0.8rem
  }

  /* Titles */
  .title--big {
    font-size: 1.5rem;
  }
  
  .title--medium {
    font-size: 1.25rem;
  }
  
  .title--small {
    font-size: 1rem;
  }
  
  /* Regular Text */
  .text--small {
    font-size: 0.75rem;
  }
}