.App {
  display: grid;
  grid-template-rows: minmax(3rem, 1fr) 11fr;
  height: 100vh;
  text-align: center;
  background-color: #FAFAFA;
  color: #262626;
}

.container {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
}

.container--top {
  justify-content: start;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Headings and Text */
.title {
  margin: 0.5rem;
  font-weight: bold;
}

.title--big {
  font-size: 1.75rem;
}

.title--medium {
  font-size: 1.5rem;
}

.title--small {
  font-size: 1.25rem;
}

.text--small {
  font-size: 0.75rem;
}

.text__tip {
  padding: 0.5rem;
  font-style: italic;
}

p {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav-list {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #EFEFEF;
}

.logo-img {
  height: 2.5rem;
  width: 6rem;
}

/* Forms */
.form {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

/* .form--narrow {
  max-width: 30rem;
  width: 50%;
} */

/* .form--wide {
  max-width: 35rem;
  width: 80%;
} */

.form__content {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem darkslategrey;
  padding: 0.5rem;
  width: 50vw;
  min-width: 400px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}

.form-group--wide {
  width: 90%;
}

.form-group--inline {
  display: flex;
}

.form-group--no-msg {
  margin: 0;
}

.input--error {
  border: 1px solid #EB0000;
}

input:invalid {
  box-shadow: none;
}

.error {
  font-size: 0.75rem;
  color: #EB0000;
}

/* Buttons */
.button--ml {
  margin: auto auto auto 0.25rem;
}

.button--text {
  border: none;
  background-color: transparent;
}

.button--text:hover {
  /* text-decoration: underline; */
  color: #5a5a5a;
}

.button--text:focus {
  outline: none;
}

/* High specificity required to modify Bootstrap button style */
/* Remove outline from Bootstrap button */
.button--no-outline:focus, .button--no-outline:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

/* .button--text:not(:disabled):not(.disabled):active {
  color: black;
  background-color: transparent;
}

.button--text:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
} */

/* Media Queries */
@media all and (max-width: 640px) {
  .form-input, .form-button {
    font-size: 0.8rem
  }

  /* Titles */
  .title--big {
    font-size: 1.5rem;
  }
  
  .title--medium {
    font-size: 1.25rem;
  }
  
  .title--small {
    font-size: 1rem;
  }
  
  /* Regular Text */
  .text--small {
    font-size: 0.75rem;
  }
}